<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfonso.shruggie</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>AC3DAD04-0578-4397-B89D-3045111F503C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F75665AC-D4E0-4D00-98AC-B2372ACD9529</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alfonso Gómez-Arzola</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shrug</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shrug</string>
				<key>subtext</key>
				<string>Copy ¯\_(ツ)_/¯ to the clipboard</string>
				<key>text</key>
				<string>Shrug</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AC3DAD04-0578-4397-B89D-3045111F503C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>¯\_(ツ)_/¯</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F75665AC-D4E0-4D00-98AC-B2372ACD9529</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>AC3DAD04-0578-4397-B89D-3045111F503C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F75665AC-D4E0-4D00-98AC-B2372ACD9529</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/agarzola/alfredshrug</string>
</dict>
</plist>
